.topheader {
  position: fixed;
  background-color: rgb(170, 169, 233);
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Menu-Horizontal li a {
  display: Block;
  padding: 10.938rem 1,25rem;
  color: black;
  text-decoration: none;
}

.Menu-Vertical {
  list-style: none;
  padding: 0;
  background-color: rgb(170, 169, 233);
  position: absolute;
  display: none;
  width: 150px;
}
.Menu-Horizontal li a:hover {
  color: white;
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: Block;
}

/*SECCION PRODUCTOS*/

.seccion-productos {
  padding: 60px 20px;
  background-color:rgba(247, 247, 247, 0.993);
}
.div-gral-productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}
.div-prod-text {
  flex 1;
}
.div-prod-text h2{
  color: darkgrey;
}
.div-prod-text p{
  color: grey;
  line-height: 1.6;
  font-size: 15px;
  text-align: justify;
}
.div-prod-text button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(170, 169, 233);
  color: black;
  border: none;
  border-radius: 5px;
}
.div-prod-text button a {
  text-decoration: none;
}
.div-prod-text button a:hover {
  text-decoration: none;
  color: dark;
}
.div-prod-img {
  flex: 1;
}
.div-prod-img img {
  width: 100%;
  max-width:500px;
}



/*SECCION APRENDE*/
.seccion-aprende {
  padding: 60px 20px;
  background-color:white;
}
.div-gral-zona {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}
.div-zn-text{
  flex: 1;
}
.div-zn-text h2{
  color: darkgrey;
}
.div-zn-text p{
  color: grey;
  line-height: 1.6;
  font-size: 15px;
  text-align: justify;
}

.div-zn-video{
  flex: 1;
}
.div-zn-video iframe {
  width: 100%;
  max-width:500px;
}
/*SECCION FORMULARIO*/
.seccion-formulario{
  background-color:rgba(247, 247, 247, 0.993);
  padding:40px;
  border:3px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.div-cont-formulario{
  background-color: white;
  padding: 30px;
  border: 2px solid black;
  border-radius: 10px;
  width:100%;
  max-width: 500px;
}
.campo {
  background-color: rgba(170, 169, 233, 0.671);
  border: 1px;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.formulario-registro label{
  display:block;
  font-weight: 700;
  margin-bottom: 8px;
  color:rgb(32, 118, 139);
}
.formulario-registro input[type="text"],.formulario-registro select {
  width: 100%;
  padding: 1%;
  border:1px;
  border-radius: 10px;
  box-sizing: border-box;
}
.formulario-registro .lista-radio, .formulario-registro .lista-checkbox{
  list-style: none;
  padding:10px;
  margin:0;
  border: 1px;
  background-color: rgb(171, 162, 211);
}
.formulario-registro button {
  background-color: rgb(170, 169, 233);
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor:pointer;
}
