.topheader {
  position: fixed;
  background-color: rgb(170, 169, 233);
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Menu-Horizontal li a {
  display: Block;
  padding: 10.938rem 1,25rem;
  color: black;
  text-decoration: none;
}

.Menu-Vertical {
  list-style: none;
  padding: 0;
  background-color: rgb(170, 169, 233);
  position: absolute;
  display: none;
  width: 9.375rem;
}
.Menu-Horizontal li a:hover {
  color: rgb(103, 146, 238);
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: Block;
}

/*SECCION PRODUCTOS*/

.seccion-productos {
  padding:3.75rem 1.25rem;
  background-color:rgba(247, 247, 247, 0.993);
}
.div-gral-productos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width:75rem;
  margin: 0 auto;
  gap: 2.5rem;
}
.div-prod-text {
  flex 1;
}
.div-prod-text h2{
  color: darkgrey;
}
.div-prod-text p{
  color: grey;
  line-height: 1.6;
  font-size: 0.938rem;
  text-align: justify;
}
.div-prod-text button {
  margin-top: 1.25rem;
  padding: 0.625rem 1.25rem;
  background-color: rgb(170, 169, 233);
  color: black;
  border: none;
  border-radius: 0.313rem;
}
.div-prod-text button a {
  text-decoration: none;
}
.div-prod-text button a:hover {
  text-decoration: none;
  color: dark;
}
.div-prod-img {
  flex: 1;
}
.div-prod-img img {
  width: 100%;
  max-width:31.25rem;
}



/*SECCION APRENDE*/
.seccion-aprende {
  padding: 3.75rem 1.25rem;
  background-color:white;
}
.div-gral-zona {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 2.5rem;
}
.div-zn-text{
  flex: 1;
}
.div-zn-text h2{
  color: darkgrey;
}
.div-zn-text p{
  color: grey;
  line-height: 1.6;
  font-size: 0.938rem;
  text-align: justify;
}

.div-zn-video{
  flex: 1;
}
.div-zn-video iframe {
  width: 100%;
  max-width:31.25rem;
}
/*SECCION FORMULARIO*/
.seccion-formulario{
  background-color:rgba(247, 247, 247, 0.993);
  padding:2.5rem;
  border:0.188rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.div-cont-formulario{
  background-color: white;
  padding: 1.875rem;
  border:0.125rem solid black;
  border-radius: 0.625rem;
  width:100%;
  max-width: 31.25rem;
}
.campo {
  background-color: rgba(170, 169, 233, 0.671);
  border:0.063rem;
  padding: 0.938rem;
  border-radius:0.5rem;
  margin-bottom: 1.25rem;
}
.formulario-registro label{
  display:block;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color:rgb(32, 118, 139);
}
.formulario-registro input[type="text"],.formulario-registro select {
  width: 100%;
  padding: 1%;
  border:0.063rem;
  border-radius:0.625rem;
  box-sizing: border-box;
}
.formulario-registro .lista-radio, .formulario-registro .lista-checkbox{
  list-style: none;
  padding:0.625rem;
  margin:0;
  border: 0.063rem;
  background-color: rgb(171, 162, 211);
}
.formulario-registro button {
  background-color: rgb(170, 169, 233);
  color: black;
  border: none;
  border-radius: 0.5rem;
  padding: 0.625rem 1.25rem;
  cursor:pointer;
}
